@media (max-width: 991px) {
    .top-bar-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .top-bar {
        flex-wrap: wrap;
        gap: 15px;
    }

    .second-icon-bar {
        justify-content: center;
        margin-top: 10px;
    }

    /* NAVBAR */
    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        display: none;
        border-top: 1px solid #eee;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .NAVBAR .btn {
        display: none;
        /* hide CTA on mobile */
    }

    /* Carousel */
    carousel-item img {
        height: 450px;
    }

    .carousel-caption {
        padding-left: 30px;
    }

    .carousel-caption h1 {
        font-size: 36px;
    }

    /* Key Achievements and Network of */
    .achievements-one h2 {
        font-size: 36px;
        line-height: 1.2;
    }

    .achievements-two p {
        font-size: 18px;
    }

    .state-details p,
    .state-details-two p {
        font-size: 32px;
    }

    .state-details,
    .state-details-two {
        padding: 20px;
    }

    .play-btn {
        font-size: 60px;
    }

    /* FORM SECTION */
    .ab {
        padding: 35px;
        border-radius: 40px;
    }

    .form-section-two h2 {
        font-size: 28px;
    }


    /* Time Table */
    .info-box {
        margin-top: 25px;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .info-box h5 {
        font-size: 17px;
    }

    .fa-clock {
        font-size: 26px;
    }

    .FAQ {
        margin-top: 40px;
        border-radius: 30px;
        padding: 30px;
    }

    .faq-main h2 {
        font-size: 36px;
        line-height: 1.3;
    }

    .faq-main .para-one {
        font-size: 18px;
    }

    .contact-box {
        width: 100%;
        max-width: 450px;
        margin-top: 25px;
    }

    .contact-box .box {
        gap: 30px !important;
    }
}


/* MOBILE (≤ 767px) */
@media (max-width: 767px) {
    .top-bar-section {
        display: none;
        /* HIDE TOP BAR ON MOBILE */
    }

    /* carousel */
    .carousel-item img {
        height: 320px;
    }

    /* CAPTION */
    .carousel-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        text-align: left;
    }

    /* HEADING */
    .carousel-caption h1 {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 10px;
        width: 400px;
    }

    /* TRUSTED LIST */
    .trusted {
        display: grid;
        grid-template-columns: 1fr;

    }

    .trusted-item {
        font-size: 14px;
    }

    /* BUTTONS */
    .consultation {

        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 14px;
    }

    .primary-btn,
    .secondary-btn {
        width: 40%;
        text-align: center;
        padding: 10px;
        font-size: 12px;
    }

    /* Key Achievements and Network of */
    .achievements {
        padding: 20px 20px;
        text-align: center;
    }

    /* HEADING */
    .achievements-one h2 {
        font-size: 35px;
        line-height: 1.3;
        margin-top: 15px;
    }

    .achievements-two {
        align-items: center;
        padding: 0px 15px;
    }

    .achievements-two p {
        font-size: 15px;
    }

    .text-capitalize {
        text-transform: capitalize !important;
        line-height: 25px;
    }

    .btn-four {
        margin-top: 20px;
        text-decoration: none;
        color: white;
        padding: 10px 20px 10px 20px;
        background-color: var(--third-btn);
        border-radius: 25px;
        font-size: 15px;
    }

    /* BUTTON */
    .achievements a {
        width: 50%;
        text-align: center;
        justify-content: center;
        padding: 12px;
        margin-bottom: 40px;
    }

    /* STATE CARDS */
    .counter-status .state-card {
        margin: 10px 0;
    }

    .state-card img {
        width: 100%;
    }

    /* COUNTER BOX */

    .state-details,
    .state-details-two {
        left: auto;
        right: 10px;
        transform: none;
        bottom: 10px;
        padding: 12px 16px;
    }

    .state-details p,
    .state-details-two p {
        font-size: 22px;
    }

    .form-one,
    .form-two {
        flex-direction: column;
    }

    .play-btn {
        font-size: 50px;
    }

    .fa-circle-play {
        cursor: pointer;
        left: 45%;
        top: 50%;
        font-size: 90px;
    }

    /* Form section */
    .form-one,
    .form-two {
        flex-direction: column;
        gap: 16px;
    }

    .ab {
        border-radius: 40px;
        margin-top: 30px;
    }

    .form-section-two {
        max-width: 100%;
        padding: 0px;
    }

    .about-us-image {
        padding: 20px;
    }

    .form-section-two h2 {
        font-size: 24px;
    }

    .form-section-two label {
        font-size: 13px;
    }

    .get-call-back {
        width: 100%;
        justify-content: center;
        padding: 14px;
        font-size: 15px;
    }


    /* Time Table */

    .info-box {
        margin-top: 20px;
        padding: 18px;
        text-align: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .info-box h5 {
        font-size: 16px;
    }

    .info-box span,
    .info-box a {
        font-size: 13px;
        text-align: center;
    }

    .info-box .d-flex {
        justify-content: center;
        text-align: center;
    }

    .fa-clock {
        font-size: 24px;
    }

    .fa-circle-arrow-up {
        font-size: 20px;
    }

    /* ABOUT SECTION */
    .about-us {
        margin-top: 40px;
        width: 100%;
    }

    .about-us img {}

    .about-us img img {}

    .about-parent {
        text-align: center;
    }

    .about-parent h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .about-parent span {
        font-size: 14px;
        display: block;
        margin-top: 10px;
    }

    .certify {
        margin-top: 20px;
    }

    .certify p {
        font-size: 14px;
        justify-content: center;
    }

    .btn-three {
        margin-top: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


    /* About Us */
    .about-parent .text-uppercase {
        color: #37001B;
        font-size: 25px;
        width: 100%;
        text-align: center;
    }

    .about-parent h2 {
        font-size: 35px;
        line-height: 1.3;
        width: 100%;
        text-align: center;

    }

    .subhajit h2 {
        color: var(--second-btn);
        font-size: 45px;
    }

    .subhas h2 {
        color: var(--second-btn);
        font-size: 45px;
    }

    .about-parent span {
        font-size: 14px;
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        padding: 20px;
    }

    .about-parent .certify {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        display: none;
    }

    .about-us-btn-main {
        margin-top: -13px;
        width: 100%;
    }

    .btn-three {
        margin-top: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .subhajit {
        padding: 20px;
    }

    .subhas-mukherjee {
        margin-top: 0px;
    }

    .infertility-two {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .subhajit-img {
        padding: 20px;
        border-radius: 40px;
        width: 100%;
    }

    .subhas {
        padding: 20px;
    }

    .infertility .para-one {
        text-align: center;
    }

    .infertility {
        padding: 0px 20px;
    }

    .infertility h2 {
        text-align: center;
        font-size: 35px;
    }

    .infertility-two p {
        text-align: center;
    }

    .infertility-two .infertility-two-btn {
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .card-section {
        margin-top: 50px;
        padding: 15px;
        margin-right: 3px;
    }

    .card-banner img {
        display: none;
    }

    .infertility-two .infertility-btns {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .leave {
        border: 2px solid var(--primary-color);
        /* padding: 100px 30px; */
        border-radius: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 30px;
    }

    .join-today-card {
        gap: 26px;
    }

    .form-class {
        margin-top: 30px;
    }

    .infertility-two p {
        padding: 0px 20px;
        font-size: 14px;

    }

    .subhas .para-data {
        /* margin-top: 15px; */
        font-size: 14px;
        color: #313E56;
    }

    .why-choose-us-one {
        text-align: center;
        padding: 20px;
    }

    .why-choose-us-one h2 {
        font-size: 35px;
        color: var(--second-btn);

    }

    .faq-main .para-one {
        color: var(--primary-color);
        font-size: 30px;
        font-weight: 400;
        margin: 0px;
    }

    .why-choose-us-one .para-data {
        font-size: 15px;
        color: #666666;
        margin-top: 20px;
    }

    .why-choose-us-one-img {
        border-radius: 40px;
        margin-top: 40px;
        padding: 20px;
    }

    .why-choose-us-tow-img {
        border-radius: 40px;
        padding: 20px;
    }

    .faq-main {
        text-align: center;
    }

    .faq-main h2 {
        font-size: 33px;
        color: var(--second-btn);
        padding: 0px 20px;
    }

    .faq-main p {
        color: #666666;
        margin-top: 30px;
        font-size: 15px;
    }

    .contact-box {
        margin-top: 30px;
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    .free-ivf-content h2 {
        font-size: 35px;
        color: white;
        margin-bottom: 25px;
    }

    .free-ivf-btn {
        background-color: white;
        padding: 10px 20px 10px 20px;
        color: var(--third-btn);
        border-radius: 25px;
        font-size: 12px;
        text-align: center;
    }

    .faq-main p {
        padding: 20px;
        margin: 0px;

    }

    .accordian-main {
        padding: 10px;
    }

    .findus h2 {
        font-size: 35px;
        color: var(--second-btn);
    }

    .video-section h2 {
        color: var(--second-btn);
        font-size: 35px;
    }

    .findus-map {
        margin-top: 20px;
    }

    .card-counter-main {
        margin-top: 30px;
        margin-left: 30px;
        display: none;
    }

    .why-choose-us-tow ul {
        margin-left: 30px;
        line-height: 40px;
        display: none;
    }

    .join-today {
        display: none;
    }

    .ultimate-counter {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .stats-box::after {
        display: none;
    }

    .infertility-two .gallary-btn {
        width: 100%;
        text-align: center;
    }

    .gallery-img {
        margin-top: 50px;
        padding: 20px;
    }

    .hero-image {
        position: relative;
        display: none;
    }

    .treatments-card-main {
        width: fit-content;
        height: auto;
        border-radius: 20px;
        background-color: #F4F5FF;
        /* margin-bottom: 40px; */
        cursor: pointer;
        transition: all 0.45s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .FAQ {
        margin-top: 30px;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
    }

    /* FAQ TEXT */
    .faq-main .para-one {
        font-size: 30px;
    }

    .faq-main h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .faq-main p {
        font-size: 14px;
    }

    /* CONTACT BOX */
    .contact-box {
        width: 100%;
        margin-top: 20px;
    }

    .contact-box .box {
        flex-direction: column;
        gap: 15px !important;
        text-align: center;
        align-items: center;
    }

    .contact-box-left,
    .contact-box-right {
        text-align: center;
    }

    .contact-box .heading {
        font-size: 14px;
        padding: 12px;
    }

    /* ACCORDION */
    .accordion-button {
        padding: 15px;
        font-size: 14px;
    }

    /* FIND US SECTION */
    .findus h2 {
        font-size: 26px;
    }

    .findus p {
        font-size: 16px;
    }

    .our-exparts-team {
        margin-top: 50px;
        /* background-image: url(./assets/images/Layer 2 copy 7 (1).png); */
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 40px;
    }

    /* HEADER TEXT */
    .gallery .infertility,
    .gallery .infertility-two {
        text-align: center;
    }

    .gallery .infertility h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .gallery .infertility-two p {
        font-size: 14px;
    }

    .gallary-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    /* GALLERY GRID */
    .gallery-img {
        margin-top: 20px;
    }

    .gallery-img .col-md-4,
    .gallery-img .col-md-6,
    .gallery-img .col-md-3 {
        width: 100%;
    }

    /* IMAGE HEIGHT RESET */
    .gallery-img img {
        height: auto !important;
        margin-bottom: 12px;
        border-radius: 12px;
    }

    .infertility,
    .infertility-two {
        text-align: center;
    }

    .infertility h2 {
        font-size: 35px;
        line-height: 1.3;
    }

    .research-card-main {
        border: 1px solid var(--btn-color);
        border-radius: 40px;
        width: 90%;
        margin-bottom: 50px;
        transition: transform 0.3s ease;
        margin: 10px auto;
    }

    .infertility-two p {
        font-size: 14px;
        /* padding: 20px; */
        margin-top: 15px !important;
        margin: 0px;
    }

    .Shri-Nadda-containt h2 {
        font-size: 35px;
        color: var(--second-btn);
        text-align: center;
    }

    .Shri-Nadda-containt p {
        margin-top: 20px;
        font-size: 15px;
        color: #063770;
        text-align: center;
    }

    .Shri-Nadda-containt .shri-btn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .Shri-Nadda {
        padding: 20px;
    }

    .Shri-Nadda-containt {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        align-items: center;
        padding: 20px;
    }

    .infertility-two .infertility-two-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    /* HERO IMAGE */
    .hero-image i {
        font-size: 48px;
    }

    /* VIDEO SECTION TITLE */
    .video-section h2 {
        font-size: 26px;
    }

    .video-section p {
        font-size: 16px;
    }

    /* VIDEO GRID */
    .video-card {
        border-radius: 14px;
    }

    .video-card iframe {
        border-radius: 14px;
    }

    .btn-four {
        display: inline-flex;
        justify-content: center;
        text-align: center;
    }

    .research-two {
        margin: 0px;
    }

    .infertility-btnss {
        width: 100%;
        text-align: center;
    }

    .video-section,
    .video-card {
        /* max-width: 1100px; */
        margin-left: auto;
        width: 300px;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .leave-a-reply {
        display: none;
    }

    .book-a-consultation {
        padding: 10px 20px 10px 20px;
        background-color: var(--second-btn);
        color: white;
        border-radius: 10px;
        text-decoration: none;
        font-size: 13px;
    }

    /* Footer */
    .logo img {
        width: 30%;
        margin-bottom: 30px;
    }

    .footer-section {
        text-align: start;
        margin-top: 40px;
        padding: 20px;
    }

    .footer-box {
        margin-bottom: 30px;
    }

    /* Hide newsletter input & button */
    .mobile-hide {
        display: none;
    }

    .social-links {
        justify-content: center;
    }

}

@media (max-width: 576px) {
    .navbar-section {
        padding: 0 20px;
    }

    .primary-btn,
    .secondary-btn {
        width: 180px;
        text-align: center;
        padding: 12px;
        font-size: 12px;
    }

    .form-section {
        margin-top: 0px;
    }

    .sperm-list {
        line-height: 28px;
        font-size: 15px;
    }

    .treatments-card-main {
        width: fit-content;
        height: auto;
        border-radius: 20px;
        background-color: #F4F5FF;
        /* margin-bottom: 40px; */
        cursor: pointer;
    }

    .our-exparts-team {
        margin-top: 50px;
        /* background-image: url(./assets/images/Layer 2 copy 7 (1).png); */
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 40px;
    }

}